DB_URL=

NEWSDATA_API_KEY=
ALPHA_VANTAGE_API_KEY=
FRED_API_KEY=
COIN_API_KEY=

MLFLOW_TRACKING_URI=
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=

ENVIRONMENT=
LOG_LEVEL=

API_BASE_URL=

DASHBOARD_API_KEY=
API_KEY=

DASH_URL_BASE_PATHNAME=