mlartifacts/
*.pkl
*.joblib
*.pt
*.onnx



__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyi
*.egg-info/
*.egg
*.so
*.log

.venv/
.env
.env.*          # any extra env files
*.env

.ipynb_checkpoints/
*.ipynb
*.nbconvert.ipynb
*.jupyter

data/raw/
data/processed/
data/models/
*.csv
*.parquet
*.feather
*.h5
*.db
airflow/airflow.cfg
airflow/logs/
airflow/plugins/__pycache__/
*.db             # if Airflow uses SQLite for dev

docker/*.log
docker/*.pid

*.env
*.dockerignore

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.DS_Store
Thumbs.db

dist/
build/
*.egg-info/
pip-wheel-metadata/
*.egg

*.bak
*.tmp
*.backup
*.log
*.sqlite3